body {
    background: linear-gradient(84deg, #ff9900,  #212121);
    color: rgb(219, 219, 219);
    font-family: sans-serif;
}

.container {
    margin-top: 20%;
}

#div {
    width: 400px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 600px;
    position: absolute;
    top: 63px;
    left: 0px;
    background-color: #272727;
}

#lvlupclicker {  
    border: none;
    height: 40px;
    background: transparent;
    color: rgb(219, 219, 219);   
    font-size:15px;
    margin-top: 10px;
    font-weight: 500;
    background-color:rgb(30, 30, 30);
    font-family: sans-serif;
}

#AutoClick {  
    border: none;
    height: 40px;
    background: transparent;
    color: rgb(219, 219, 219);   
    font-size:15px;
    margin-top: 10px;
    font-weight: 500;
    background-color:rgb(30, 30, 30);
    font-family: sans-serif;
}

#shoptag {  
    height: 0px;    
    font-size:20px;
    font-weight:10;
}


#scoreshow {  
    height: 15px;   
    color: rgb(219, 219, 219);   
    font-size:20px;
    margin-top: 90px;
    font-weight:1000;
    font-family: sans-serif;
}

#click {  
    width: 200px;
    height: 200px;
    border: none;
    position: absolute;
    bottom: 195px;
    left: 110px;
    border-radius: 50%;
    
}
