@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    padding: 0;
    width: 100%;
    display: flex;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img {
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.score {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    user-select: none;
}

.circle {
    position: relative;
}

.circle img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
}
#leveltap {
    width: 200px;
    height: 100px;
    margin-top: 00px;
    background-color: #fff;
}
.plus-one {
    position: absolute;
    text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
    font-size: 34px;
    font-weight: 800;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    user-select: none;
    animation: move-up 2s forwards;
}

@keyframes move-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-120px);
    }
}