@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    background-color: #161616;
    color: rgb(219, 219, 219);
    font-family: sans-serif;
}

.container {
    margin-top: 20%;
}



#lvlupclicker {  
    border: none;
    height: 40px;
    background: transparent;
    color: rgb(219, 219, 219);   
    font-size:13px;
    margin-top: 10px;
    font-weight: 700;
    background-color:rgb(30, 30, 30);
    font-family: sans-serif;
}

#lvlupclicker:hover {
    transition: 0.5s;
    box-shadow: 0 0 5px rgb(183, 183, 183),
    0 0 25px rgb(187, 187, 187),
    0 0 50px rgb(205, 205, 205),
    0 0 200px rgb(187, 187, 187);
    cursor: pointer;
}

#AutoClick:hover {
    transition: 0.5s;
    box-shadow: 0 0 5px rgb(183, 183, 183),
    0 0 25px rgb(187, 187, 187),
    0 0 50px rgb(205, 205, 205),
    0 0 200px rgb(187, 187, 187);
    cursor: pointer;
}

#AutoClick {  
    border: none;
    height: 40px;
    background: transparent;
    color: rgb(219, 219, 219);   
    font-size:13px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    background-color:rgb(30, 30, 30);
    font-family: sans-serif;
}

#shoptag {  
    height: 0px;    
    font-size:20px;
    font-weight:10;
    font-weight: 700;
}


#scoreshow {  
    height: 15px;   
    color: rgb(219, 219, 219);   
    font-size: 40px;
    font-weight: 800;
    font-family: sans-serif;
}

#click {  
    width: 250px;
    height: 250px;
    border: none;
    bottom: 140px;
    color: #161616;
    background-color: #03E9F4;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    left: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px #03E9F4,
                0 0 25px #03E9F4,
                0 0 50px #03E9F4,
                0 0 200px #03E9F4;
    
}




@media screen and (max-width: 600px) {
    container{
        width: 100%;
    }
}